@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

p{
    color: aquamarine;
}
body {
    font-family: Roboto,serif;
    background: linear-gradient(0deg, #000000 0%, #1f26ff 95%);
}
.nav-link {
    color:aquamarine;

}
.navbar-nav .nav-link.active{
    color: aquamarine;
}
.navbar-brand img{ 
    width: 50px;
}
.navbar-toggler{
    background-color: rgb(97, 94, 91);
}
.side-bar{
    color: aquamarine;
    background: linear-gradient(1270deg, #000000 0%, #1f26ff 95%);
}
.card {
    background: linear-gradient(1270deg, #000000 0%, #1f26ff 95%);
    color: aquamarine;
}
.card a{
    text-decoration: none;
    color: aquamarine;
}
.slide-text , .footer-text{
    color: aquamarine;
    margin: auto auto;
}
footer, .btn-outline-primary{
    background: linear-gradient(1270deg, #000000 0%, #3714ff 95%)
}
.media-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anim{
    animation: myAnim 2s ease 0s 1 reverse forwards;
}
@keyframes myAnim {
    0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(45px);
    }
   
    24% {
    opacity: 1;
    }
   
    40% {
    animation-timing-function: ease-in;
    transform: translateY(24px);
    }
   
    65% {
    animation-timing-function: ease-in;
    transform: translateY(12px);
    }
   
    82% {
    animation-timing-function: ease-in;
    transform: translateY(6px);
    }
   
    93% {
    animation-timing-function: ease-in;
    transform: translateY(4px);
    }
   
    25%,
    55%,
    75%,
    87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
    }
   
    100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
    }
   }